/* GLOBAL OVERRIDES */

section ul {
    padding-left: 20px;
}

section ul li {
    list-style: initial;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 22px;
}




/* BANNER SECTION STYLES */
section.banner {
    background: url(../../images/ACCA-Header-Image.jpg) no-repeat #4a4a4a;
    background-position: top -70px center;
    background-size: cover;
}

@media (max-width: 1000px) {
    section.banner {
        background-position: top center;   
    }
}

@media (max-width: 768px) {
    section.banner {
        background-position: right 40% center;   
    }
}

section.banner h1 span {
    font-style: italic;
    border-bottom: 1px solid #fff;
    font-size: 28px;
}

section.banner img {
    max-width: 100%;
    width: auto;
}

section.banner p {
    color: #fff;
}


/* TABBED SECTION STYLES */
.section-nav ul {
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -7px 10px -10px #888888;
    padding: 0 25%;
    background: #D8D8D8;
}

.section-nav ul li {
    margin: 0;
    list-style: none;
}

.section-nav ul li a {    
    -moz-box-shadow: inset 0 -10px 6px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 6px -10px #000000;
    box-shadow: inset 0 -7px 6px -10px #000;
    text-transform: none;
    background: #D8D8D8;
}

.section-nav ul li a:hover {
    background: #a1a1a1
}

.section-nav ul li a.active {
    box-shadow: 0px 5px 0px #fff;
    -moz-box-shadow: 0px 5px 0px #fff;
    -webkit-box-shadow: 0px 5px 0px #fff;
    background: #fff;
    color: #4a4a4a;
    margin-top: -7px;
    padding-top: 22px;
}

.tab-group ul li a, tab-group ul li a:hover {
    -webkit-transition: background 500ms, color 500ms, border 500ms, padding 500ms, margin 500ms, box-shadow 500ms;
    -moz-transition: background 500ms, color 500ms, border 500ms, padding 500ms, margin 500ms, box-shadow 500ms;
    -o-transition: background 500ms, color 500ms, border 500ms, padding 500ms, margin 500ms, box-shadow 500ms;
    transition: background 500ms, color 500ms, border 500ms, padding 500ms, margin 500ms, box-shadow 500ms;
}

@media (max-width: 768px) {
    .section-nav ul {
        padding: 0;
    }
    
    .section-nav ul li a.active {
        margin-top: 0;
        padding-top: 15px;
    }
}


/* SIMPLIFIED TABBED SECTION STYLES */

@media (min-width: 768px) {
    .simplified .section-wrapper {
        background: transparent;
    }

    .simplified ul {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 25%;
        background: transparent;
    }

    .simplified ul li a {
        background: transparent;
        color: #4a4a4a;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 
        width: auto;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 5px 0; 
        border-bottom: 1px solid transparent;
    }

    .simplified ul li a.active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;    
        margin-top: 0px;
        padding-top: 5px;
        border-bottom: 1px solid #4a4a4a;
        background: transparent
    }

    .simplified ul li a:focus, .simplified ul li a:active {
        text-decoration: none;
    }

    .simplified ul li a.active:hover, .simplified ul li a:hover {
        color: #4a4a4a;
        border-bottom: 1px solid #4a4a4a;
        background: #fff;
    }
    
}



/* TABLE STYLES */

@media (max-width:1024px) and (min-width: 768px) {
    .table-wrap {
        overflow-x: scroll;
    }   
}

td, th {
    padding: 15px;
    text-align: middle;
    vertical-align: middle;
    border-bottom: 1px solid #4a4a4a;
}

th {
    font-weight: normal;
}

table img {
    width: auto;
}

@media (max-width: 768px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
        max-width: 100%;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border-bottom: 1px solid #4a4a4a; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 15px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: normal;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Course"; font-weight: bold;}
	td:nth-of-type(2):before { content: "Delivered by"; font-weight: bold;}
	td:nth-of-type(3):before { content: "F Paper Exemptions"; font-weight: bold;}
	td:nth-of-type(4):before { content: "F Paper Preperations"; font-weight: bold;}
	td:nth-of-type(5):before { content: "P Paper Preperations"; font-weight: bold;}
	td:nth-of-type(6):before { content: "Additional Qualifications"; font-weight: bold;}
	td:nth-of-type(7):before { content: "Timescale"; font-weight: bold;}
	td:nth-of-type(8):before { content: "Who For?"; font-weight: bold;}
}



/* FORM STYLES */

.form-container {
    margin: 0 auto;
}

.form-container label {
    font-weight: normal;
    text-align: left;
}
    



/* FOOTER STYLES */

footer p {
    font-size: 13px;
}





/* ACCA APPROVED SECTION */
section.acca-approved {
    background-image: url(../../images/ACCA_approved.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}




/* TESTIMONIALS SECTION */
.testimonial {
    background-image: url(../../images/testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% center 0;
}





/* COLOURS */

.white {
    background: #fff!important;
}


.lightgrey {
    background: #F3F3F3!important;
}

.lightgrey-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772583+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #F3F3F3!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #F3F3F3 0%, #F3F3F3 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #F3F3F3 0%, #F3F3F3 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #F3F3F3 0%, #F3F3F3 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.lightgrey-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: #fffcfc!important; /* Old browsers */
    background: -moz-linear-gradient(left, #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #F3F3F3 50%, #F3F3F3 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fffcfc 0%, #fffcfc 0%,#fffcfc 50%,#fffcfc 50%, #F3F3F3 50%, #F3F3F3 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fffcfc 0%, #fffcfc 0%,#fffcfc 50%, #fffcfc 50%, #F3F3F3 50%, #F3F3F3 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#F3F3F3',GradientType=1 ); /* IE6-9 */
}

.lightblue {
    background: #26B4D5!important;
}

.lightblue-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772583+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #26B4D5!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #26B4D5 0%, #26B4D5 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #26B4D5 0%,#26B4D5 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #26B4D5 0%,#26B4D5 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26B4D5', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.lightblue-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: #fffcfc!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #26B4D5 50%, #26B4D5 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#26B4D5 50%,#26B4D5 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#26B4D5 50%,#26B4D5 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#26B4D5',GradientType=1 ); /* IE6-9 */
}

.blue {
    background: #25608C!important;
}

.blue-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772583+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #25608C!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #25608C 0%, #25608C 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #25608C 0%,#25608C 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #25608C 0%,#25608C 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25608C', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.blue-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: #fffcfc!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #25608C 50%, #25608C 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#25608C 50%,#25608C 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#25608C 50%,#25608C 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#25608C',GradientType=1 ); /* IE6-9 */
}

.darkgrey {
    background: #BEBEBE!important;
}

.darkgrey-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772583+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #BEBEBE!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #BEBEBE 0%, #BEBEBE 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #BEBEBE 0%,#BEBEBE 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #BEBEBE 0%,#BEBEBE 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BEBEBE', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.darkgrey-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: #fffcfc!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #BEBEBE 50%, #BEBEBE 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#BEBEBE 50%,#BEBEBE 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#BEBEBE 50%,#BEBEBE 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#BEBEBE',GradientType=1 ); /* IE6-9 */
}

.pink {
    background: #D9C2DC!important;
}

.pink-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772583+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: #D9C2DC!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #D9C2DC 0%, #D9C2DC 50%, #fffcfc 50%, #fffcfc 50%, #fffcfc 100%, #fffcfc 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #D9C2DC 0%,#D9C2DC 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #D9C2DC 0%,#D9C2DC 50%,#fffcfc 50%,#fffcfc 50%,#fffcfc 100%,#fffcfc 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9C2DC', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
}

.pink-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: #fffcfc!important; /* Old browsers */
    background: -moz-linear-gradient(left,  #fffcfc 0%, #fffcfc 0%, #fffcfc 50%, #fffcfc 50%, #D9C2DC 50%, #D9C2DC 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#D9C2DC 50%,#D9C2DC 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fffcfc 0%,#fffcfc 0%,#fffcfc 50%,#fffcfc 50%,#D9C2DC 50%,#D9C2DC 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#D9C2DC',GradientType=1 ); /* IE6-9 */
}

@media (max-width: 991px) {
    
    .lightgrey-split, .lightgrey-split-reverse, .lightblue-split, .lightblue-split-reverse, .blue-split, .blue-split-reverse, .darkgrey-split, .darkgrey-split-reverse, .pink-split, .pink-split-reverse {
        background: #fff!important;
    }
    
}



.roundal-cta {
    font-size: 20px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 49%;
    background: #fff;
    opacity: 1;
}

.roundal-cta:before {
    left: 12px;
    top: 21px;
    font-size: 20px;
    color: #4a4a4a;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

@media (max-width: 991px) {
    .carousel-control {
        display: none;
    }
}